.home-nav{
    width: 100%;
    height: 550px;
    /* display: flex; */
    background: #800000;
}

.hm-image{
    width: 800px;
    height: 700px;
    margin-top: -600px;
    border-radius: 50% 0% 50% 50%;
    float: right;
}

.hm-header-text{
    width: 600px;
    height: 301px;
    margin-left: 80px;
    padding-top: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
}

.hm-header-sub-text{
    width: 600px;
    height: 114px;
    margin-left: 80px;
    padding-top: 50px;
    font-style: italic;
    font-weight: 250;
    font-size: 48px;
    line-height: 80px;
    color: #EFCE1B;

}

.hm-raw{
    width: 25%;
    height: 220px;
    background: #804A00;
}

.hm-raw-content{
    
    width: 224px;
    height: 182px;
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 65px;
    text-align: center;
    color: #FFFFFF;
}

.hm-second-section{
    width: 100%;
    height: 700px;
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    background: #023020;
}

.hm-second-section-img{
    width: 800px;
    height: 700px;
    margin-left: -70px;
    border-radius: 50%;
}

.hm-second-title{
    width: 600px;
    height: 65px;
    margin-top: 70px;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 60px;
    text-align: center;
    color: #EFCE1B;
}

.hm-second-line{
    width: 580px;
    height: 10px;
    margin-top: 54px;
    margin-left: 20px;
    background: #804A00;
}

.hm-second-content{
    width: 600px;
    height: 356px;
    margin-top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;

}

.hm-bottom-section{
    display: flex;
    justify-content: space-between;
}

.hm-bottom-line{
    width: 265px;
    height: 10px;
    margin-top: 60px;
    background: #D9D9D9;
    margin-left: 100px;
}

.hm-bottom-section-img{
    width: 700px;
    height: 800px;
    margin-left: 210px;
    border-radius: 50% 0% 0% 50%;
}

.hm-img{
    width: 100%;
}

.hm-bottom-title{
    width: 353px;
    height: 393px;
    margin-top: 60px;
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: #023020;
    margin-left: 100px;
}

.hm-bottom-content{
    width: 350px;
    height: 151px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

}

.bottom-img{
    /* position: absolute; */
    margin-top: -140px;
    width: 100%;
    height: 340px;
    /* border-radius: 20%; */
}


.container {
    align-items: center;
    margin: auto;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  
  .hm-content {
    width: fit-content;
    margin-top: 100px;
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: 'YourPreferredFont', sans-serif;
    color: #333; 
  }
  
  .hm-title {
    font-family: 'YourPreferredFont', sans-serif; /* Apply the same font to the title */
  }
  